@import '../../static/assets/styles/_resources.scss';

.appdesc {
    background-color: $main_color;
    margin: 0 auto;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: hidden;
    color: $text_color2;
    position: relative;

    &__wrapper {
        max-width: 1200px;
        width: 100%;
        position: relative;
        padding: 120px 0 147px;

        h2 {
            text-align: center;
            color: $text_color3;
            margin-bottom: 65px;
        }
    }

    &__items {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    &__item {
        z-index: 1;

        &:first-child {
            width: 57%;
        }

        &:last-child {
            width: 43%;
        }

        img {
            padding-top: 27px;
        }
    }

    &__about {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding-bottom: 38px;

        &__number {
            padding-right: 32px;
            padding-left: 18px;
            position: relative;

            p {
                font-size: 60px;
                color: $text_color4;
                width: 30px;
                position: relative;
                top: -15px;

                &::before {
                    content: '';
                    width: 123px;
                    height: 123px;
                    border: 1px solid;
                    border-radius: 50%;
                    border-color: rgba(22, 175, 224, 0.25) transparent rgba(22, 175, 224, 0.25) rgba(22, 175, 224, 0.25);
                    position: absolute;
                    top: -50px;
                    left: -50px;
                }
            }
        }

        &__text {
            max-width: 570px;
            width: 100%;

            h3 {
                margin-bottom: 10px;
            }

            p {
                margin-top: 10px;
            }
        }
    }

    &__linesd {
        position: absolute;
        top: -350px;
        left: -350px;
        z-index: 0;
    }
}
