@font-face {
  font-family: 'CeraRoundPro';
  src: url('../../../assets/styles/fonts/CeraRoundPro-Bold/CeraRoundPro-Bold.eot');
  src: url('../../../assets/styles/fonts/CeraRoundPro-Bold/CeraRoundPro-Bold.eot?#iefix') format('embedded-opentype'),
  url('../../../assets/styles/fonts/CeraRoundPro-Bold/CeraRoundPro-Bold.woff2') format('woff2'),
  url('../../../assets/styles/fonts/CeraRoundPro-Bold/CeraRoundPro-Bold.woff') format('woff'),
  url('../../../assets/styles/fonts/CeraRoundPro-Bold/CeraRoundPro-Bold.ttf') format('truetype'),
  url('../../../assets/styles/fonts/CeraRoundPro-Bold/CeraRoundPro-Bold.svg#CeraRoundPro-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'CeraRoundPro';
  src: url('../../../assets/styles/fonts/CeraRoundPro-Black/CeraRoundPro-Black.eot');
  src: url('../../../assets/styles/fonts/CeraRoundPro-Black/CeraRoundPro-Black.eot?#iefix') format('embedded-opentype'),
  url('../../../assets/styles/fonts/CeraRoundPro-Black/CeraRoundPro-Black.woff2') format('woff2'),
  url('../../../assets/styles/fonts/CeraRoundPro-Black/CeraRoundPro-Black.woff') format('woff'),
  url('../../../assets/styles/fonts/CeraRoundPro-Black/CeraRoundPro-Black.ttf') format('truetype'),
  url('../../../assets/styles/fonts/CeraRoundPro-Black/CeraRoundPro-Black.svg#CeraRoundPro-Black') format('svg');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'CeraRoundPro';
  src: url('../../../assets/styles/fonts/CeraRoundPro-Regular/CeraRoundPro-Regular.eot');
  src: url('../../../assets/styles/fonts/CeraRoundPro-Regular/CeraRoundPro-Regular.eot?#iefix') format('embedded-opentype'),
  url('../../../assets/styles/fonts/CeraRoundPro-Regular/CeraRoundPro-Regular.woff2') format('woff2'),
  url('../../../assets/styles/fonts/CeraRoundPro-Regular/CeraRoundPro-Regular.woff') format('woff'),
  url('../../../assets/styles/fonts/CeraRoundPro-Regular/CeraRoundPro-Regular.ttf') format('truetype'),
  url('../../../assets/styles/fonts/CeraRoundPro-Regular/CeraRoundPro-Regular.svg#CeraRoundPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CeraRoundPro';
  src: url('../../../assets/styles/fonts/CeraRoundPro-Thin/CeraRoundPro-Thin.eot');
  src: url('../../../assets/styles/fonts/CeraRoundPro-Thin/CeraRoundPro-Thin.eot?#iefix') format('embedded-opentype'),
  url('../../../assets/styles/fonts/CeraRoundPro-Thin/CeraRoundPro-Thin.woff2') format('woff2'),
  url('../../../assets/styles/fonts/CeraRoundPro-Thin/CeraRoundPro-Thin.woff') format('woff'),
  url('../../../assets/styles/fonts/CeraRoundPro-Thin/CeraRoundPro-Thin.ttf') format('truetype'),
  url('../../../assets/styles/fonts/CeraRoundPro-Thin/CeraRoundPro-Thin.svg#CeraRoundPro-Thin') format('svg');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'CeraRoundPro';
  src: url('../../../assets/styles/fonts/CeraRoundPro-Light/CeraRoundPro-Light.eot');
  src: url('../../../assets/styles/fonts/CeraRoundPro-Light/CeraRoundPro-Light.eot?#iefix') format('embedded-opentype'),
  url('../../../assets/styles/fonts/CeraRoundPro-Light/CeraRoundPro-Light.woff2') format('woff2'),
  url('../../../assets/styles/fonts/CeraRoundPro-Light/CeraRoundPro-Light.woff') format('woff'),
  url('../../../assets/styles/fonts/CeraRoundPro-Light/CeraRoundPro-Light.ttf') format('truetype'),
  url('../../../assets/styles/fonts/CeraRoundPro-Light/CeraRoundPro-Light.svg#CeraRoundPro-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'CeraRoundPro';
  src: url('../../../assets/styles/fonts/CeraRoundPro-Medium/CeraRoundPro-Medium.eot');
  src: url('../../../assets/styles/fonts/CeraRoundPro-Medium/CeraRoundPro-Medium.eot?#iefix') format('embedded-opentype'),
  url('../../../assets/styles/fonts/CeraRoundPro-Medium/CeraRoundPro-Medium.woff2') format('woff2'),
  url('../../../assets/styles/fonts/CeraRoundPro-Medium/CeraRoundPro-Medium.woff') format('woff'),
  url('../../../assets/styles/fonts/CeraRoundPro-Medium/CeraRoundPro-Medium.ttf') format('truetype'),
  url('../../../assets/styles/fonts/CeraRoundPro-Medium/CeraRoundPro-Medium.svg#CeraRoundPro-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}
