$text_color: #FFFFFF;
$text_color2: #60759D;
$text_color3: #31496B;
$text_color4: rgba(35, 179, 226, 0.4);

$placeholder_color: #A8B2BF;

$footer_copyright: #E3E7F2;

$button_color: #E70067;

$footer_color: #39649D;

$link_color: #FDFFFC;

$main_color: #FAFAFF;
$main_color2: #282B64;
$main_color3: #FFFFFF;






