$dt_base_font_size: 16px;
$tb_base_font_size: 16px;
$sp_base_font_size: 16px;

$dt_base_line_height: 24px;
$tb_base_line_height: 24px;
$sp_base_line_height: 24px;

$dt_base_letter_spacing: 0.01em;
$tb_base_letter_spacing: 0.01em;
$sp_base_letter_spacing: 0.01em;

$dt_header1_font_size: 36px;
//$tb_header1_font_size: 48px;
//$sp_header1_font_size: 35px;

$dt_header1_line_height: 54px;
//$tb_header1_line_height: 55px;
//$sp_header1_line_height: 40px;

$dt_header2_font_size: 24px;
//$tb_header2_font_size: 38px;
//$sp_header2_font_size: 28px;

$dt_header2_line_height: 36px;
//$tb_header2_line_height: 45px;
//$sp_header2_line_height: 34px;

